# --------------------------------------------------------------
# Database

POSTGRES_DB=sistem_event_kampus
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_HOST=

# --------------------------------------------------------------
